.my-el-menu{
  height: 80px;
  /* padding-left: 100px; */
}
.login{
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px !important;
  padding: 0 100px;
}
.el-menu-item{
  display: flex;
  padding: 0 50px;
  font-size: 25px;
  height: 80px !important;
  border-bottom-color: transparent !important;
  align-items: center;
}
.el-menu-item.is-active {
  background-color: #FFCC00 !important;
}
.el-dialog{
  border-radius: 30px;
}
.el-form-item{
  margin-bottom: 15px !important;
}
.el-form--inline .el-form-item{
  margin-right: 0px !important;
}
.el-form-item__label{
  width: 130px;
  font-size: 18px;
  font-weight: bold;
}
.el-form-item__content {
  display: inline-block !important;
}
.el-dialog__header{
  padding: 20px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  background-color: #37C6C0;
  height: 28px;
}
.el-dialog__title{
  line-height: 28px !important;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.el-input__inner{
  height: 3em;
}
.el-input{
   width: 217px;
}
.btn-container{
  padding-top: 30px;
  text-align: center;
}   
.el-button--primary{
  background-color: #37C6C0 !important;
  border-color: #37C6C0 !important;
}
.el-button--text{
 color: #909399;
}
.top-btn-container{
  display: flex;
  justify-content:flex-end;
  padding: 60px 0;
}
.top-btn-container :hover{
  background: #FFCC00 !important;
}
.top-btn{
  font-size: 15px;
  background-color: #37C6C0 !important;
  border: #37C6C0 !important;
  border-radius: 60px !important;
  margin: 0 1em !important;
  height: 42px;
  width: 120px;
}
.search_btn{
  height: 40px;
  width: 120px;
  font-size: 15px;
  background-color: #37C6C0 !important;
  border: #37C6C0 !important;
}
.el-dialog__headerbtn{
  font-weight: 700 !important;
  font-size: 30px !important;
}
.bottom-btn{
  width: 16em;
  height: 3em;
  /* background-color: #37C6C0; */
  border: transparent;
  border-radius: 60px;
}
.btn-container :hover{
  background: #FFCC00 !important;
}
.bottom-btn :hover{
  background: #FFCC00 !important;
}
.search-btn-container :hover{
  background: #FFCC00 !important;
}
.bottom-btn :focus{
  background: #37C6C0;
}
.el-pagination{
  padding: 15px 5px;
}
.el-pagination button, .el-pagination span:not([class*=suffix]){
  font-size: 16px;
}

